@mixin font($font-family, $font-style, $font-weight, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url($font-src + ".eot");
    src: url($font-src + ".eot?#iefix") format("embedded-opentype"),
      url($font-src + ".woff") format("woff"),
      url($font-src + ".ttf") format("truetype");
    // , url($font-src + ".woff2") format("woff2")
  }
}

@include font("Shabnam", normal, Thin, "../fonts/Shabnam/Shabnam-Thin-FD");
@include font("Shabnam", normal, Normal, "../fonts/Shabnam/Shabnam-FD");
@include font("Shabnam", normal, Light, "../fonts/Shabnam/Shabnam-Light-FD");
@include font("Shabnam", normal, Medium, "../fonts/Shabnam/Shabnam-Medium-FD");
@include font("Shabnam", normal, Bold, "../fonts/Shabnam/Shabnam-Bold-FD");

:root {
  --font-shabnam: "Shabnam";
  --color-blue: #0178fa;
  --color-orange: #fa8301;
  --color-dark-blue: #015abc;
  --color-black: #0c0c0c;
  --color-text-gray: #757575;
  --color-bg-gray: #f9f9f9;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-shabnam);
}

body {
  direction: rtl;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shabnam";
  font-weight: 700;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}
.btn-orange {
  padding: 21px 24px;
  font-size: 16px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px #fa8301;
}

header {
  .herder-fix {
    &.scrolled {
      background: var(--dark-color);
      top: 0;
      position: fixed;
      width: 1320px;
      background-color: var(--color-white);
      z-index: 1000;
    }
    .header-top-access {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #cbcbcb;
      margin: 24px 0;
      padding-bottom: 12px;
      nav {
        ul {
          list-style: none;
          display: inline-flex;
          justify-content: space-between;
          li {
            a {
              margin-left: 40px;
              color: var(--color-text-gray);
              transition: all 600ms ease;
              &:hover {
                color: var(--color-blue);
              }
            }
          }
        }
      }

      .top-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        .content {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-left: 7px;
          a {
            color: var(--color-black);
            transition: all 600ms ease;
            &:hover {
              color: var(--color-blue);
            }
          }
        }
      }
    }
    .header-center-acces {
      .search {
        margin: 0 24px;
        position: relative;
        input {
          border-radius: 8px;
          border: 1px solid #cbcbcb;
          height: 56px;
          padding: 0 14px;
          &::placeholder {
            color: #cbcbcb;
            font-size: 14px;
          }
          &:focus {
            border: 1px solid var(--color-blue);
            box-shadow: none;
          }
        }
        &::after {
          content: url("../images/svg/search-normal.svg");
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .btns {
        display: flex;
        justify-content: end;
        a {
          .backet {
            width: 56px;
            height: 56px;
            border-radius: 8px;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            span {
              position: absolute;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              color: var(--color-white);
              background-color: var(--color-blue);
              top: -12px;
              right: -12px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .login-register {
            height: 56px;
            border-radius: 8px;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-blue);
            position: relative;
            text-align: center;
            padding: 17px 48px 17px 17px;
            margin-left: 40px;
            &::before {
              content: url("../images/svg/login.svg");
              position: absolute;
              right: 16px;
              top: calc(50% + 5px);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  .header-bottom-access {
    background-color: var(--color-bg-gray);
    max-height: 64px;
    margin: 32px 0;
    border-radius: 8px;
    .navbar {
      .navbar-nav {
        .nav-item {
          margin-right: 24px;
          border-top: 2px solid transparent;
          transition: all 400ms ease;
          &:hover {
            border-top: 2px solid var(--color-orange);
          }
          .menu-icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .nav-link {
            color: var(--color-black);
          }
          .dropdown-menu {
            left: unset;
            right: 0;
            text-align: right;
          }
        }
      }
    }
  }
}
//Hover dropdown open
.dropdown:hover .dropdown-menu {
  display: block;
  top: 100%;
}
main {
  //Slider

  .slider {
    .carousel {
      .carousel-indicators {
        display: flex;
        align-items: center;
        button {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #7ebbfe;
        }
        button.active {
          width: 24px;
          height: 24px;
          background-color: #015abc;
        }
      }
      .carousel-inner {
        border-radius: 8px;
        .carousel-caption {
          top: 4rem;
          right: 12%;
          left: unset;
          text-align: right;
          color: var(--color-blue);
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        padding: 5px;
        img {
          width: 56px;
          height: 56px;
          padding: 5px;
          border: 3px solid var(--color-blue);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-blue);
        }
      }
    }
  }
  .disccont,
  .suggest,
  .best-selling,
  .secondhand {
    margin: 16px 0;
    .header {
      height: 52px;
      margin: 24px 0;
      border-bottom: 2px solid #cbcbcb;

      .discont-timer {
        text-align: right;
        display: flex;
        h3 {
          margin-left: 32px;
        }
        .timer {
          display: flex;
          background-color: #dfeeff;
          border-radius: 50px;
          height: 44px;
          justify-content: space-between;
          align-items: center;
          padding: 8px 48px 8px 8px;
          position: relative;
          h3 {
            margin: 0;
          }
          &::before {
            content: url("/assets/images/svg/carbon_time.svg");
            position: absolute;
            right: 8px;
            top: calc(50% + 4px);
            transform: translateY(-50%);
          }
        }
      }
      .show-all {
        text-align: left;
        color: var(--color-blue);
        position: relative;
        padding: 0 0 0 24px;
        &::after {
          content: url("/assets/images/svg/bx_chevron-left.svg");
          position: absolute;
          top: 50%;
          transform: translateY(calc(-50% + 4px));
          left: 0;
        }
      }
    }

    .carousel-box {
      margin-top: 10px;
      position: relative;
      .owl-theme {
        .item {
          margin: 0 12px;

          .card {
            background-color: #dfeeff;
            border-radius: 16px;
            border: none;
            .card-img {
              width: 100%;
              height: 281px;
              object-fit: none;
            }
            .card-img-overlay {
              .like {
                position: absolute;
                background-color: #dfeeff;
                top: 24px;
                left: 24px;
                width: 56px;
                height: 56px;
                border: 3px solid var(--color-blue);
                border-radius: 50%;
                cursor: pointer;
                transition: transform 0.3s;
                &::before {
                  content: url("/assets/images/svg/like-empty.svg");
                  position: absolute;
                  top: calc(50% + 5px);
                  left: 50%; /* Add left: 50% for horizontal centering */
                  transform: translate(-50%, -50%);
                }
              }
              .like.liked {
                &::before {
                  content: url("/assets/images/svg/akar-icons_heart.svg"); /* New icon when liked class is added */
                }
              }
            }

            .card-footer {
              padding: 8px;
              color: var(--color-white);
              background-color: var(--color-dark-blue);
              border-radius: 0 0 16px 16px;
              .title {
              }
              .price-box {
                margin-top: 10px;
                text-align: left;
                color: var(--color-white);
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                direction: ltr;
                .price {
                  direction: rtl;
                  font-size: 20px;
                }
                .discont {
                  text-decoration: line-through;
                  color: #7ebbfe;
                }
                .off {
                  background-color: #b2d7ff;
                  border-radius: 50px;
                  font-size: 10px;
                  font-weight: 600;
                  min-width: 44px;
                  color: #003268;
                  height: 16px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .next-slide {
        position: absolute;
        top: calc(50% - 28px);
        left: -16px;
        width: 56px;
        height: 56px;
        border: 2px solid var(--color-blue);
        background-color: #7ebbfe;
        z-index: 1000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .best-selling {
    .box-selling {
      padding: 32px 32px 32px 0;
      border-radius: 16px;
      background-color: #dfeeff;
      .best-selling-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        h2 {
          text-align: center;
          color: #013c7d;
        }
      }
      .owl-theme {
        .item {
          margin: 0 12px;

          .card {
            background-color: var(--color-white);

            .card-footer {
              color: var(--color-blue);
              background-color: var(--color-white);
              border: 3px solid var(--color-blue);
              border-radius: 0 0 16px 16px;
              .title {
              }
              .price-box {
                color: var(--color-blue);
              }
            }
          }
        }
      }
    }
  }

  .secondhand {
    .header {
      .show-all {
        a {
          color: var(--color-orange);
        }
        &::after {
          content: url("/assets/images/svg/bx_chevron-left-orange.svg");
        }
      }
    }

    .carousel-box {
      .owl-theme {
        .item {
          .card {
            background-color: #fff0df;
            .card-img-overlay {
              .like {
                position: absolute;
                background-color: #fff0df;

                border: 3px solid var(--color-orange);
                &::before {
                  content: url("/assets/images/svg/akar-icons_heart-orange.svg");
                }
              }
              .like.liked {
                &::before {
                  content: url("/assets/images/svg/akar-icons_heart.svg"); /* New icon when liked class is added */
                }
              }
            }
            .card-footer {
              padding: 8px;
              color: var(--color-white);
              background-color: var(--color-orange);
              border-radius: 0 0 16px 16px;
              .title {
              }
              .price-box {
                .discont {
                  text-decoration: line-through;
                  color: #fff0df;
                }
                .off {
                  background-color: #fff0df;
                  color: var(--color-orange);
                }
              }
            }
          }
        }
      }
      .next-slide {
        border: 2px solid var(--color-orange);
        background-color: #fff0df;
      }
    }
  }

  .category {
    margin: 16px 0;
    .header {
      height: 52px;
      margin: 24px 0;
      border-bottom: 2px solid #cbcbcb;
    }
    .content {
      a {
        .category-item {
          border: 3px solid var(--color-blue);
          border-radius: 15px;
          padding: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-height: 263px;
          height: 100%;
          gap: 24px;
          color: var(--color-black);
          position: relative;
          margin-bottom: 26px;
          .title {
            display: flex;
            justify-content: center;
            gap: 16px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid var(--color-blue);
            }
          }
        }
      }
    }
  }
}
footer {
  margin: 38px 0;
}
